$color_1: white;
$background_color_1: black;
$blue: #42C5E4;

/* h1, h2, h3, h4, img, p, a, ul, li{
display: block;
} */

// General/Index CSS
html {
	body {
		color: $color_1;
		background-color: $background_color_1;
		font-family: 'Noto Sans', sans-serif;
		width: 100%;
		height: 100%;
		float: left;
	}
	header{
		margin-top: 50px;

		nav.row{
			width: 100%;
		}
		nav ul{
			width: 100%;
		}
		nav li{
			list-style: none;
			display: inline-block;
			font-size: 20px;
			float: left;
			width: 33.33%
		}
		img{
			width: 50%;
			height: 550px;
			border-radius: 50%;
			margin: 0px 25%;
		}
		.container {
			background-color: black;
		}
	}
	main {
		h4{
			background-color: black;
			border: 2px solid white;
			padding: 10px;
		}
		.about{
			font-size: 30px;
			padding: 200px;
		}
		.carousel-indicators{
			margin: 0px;
		}
		.exp {
			width: 50%;
			margin: 20px 25%;

			.comp{
				font-size: 18px;
				font-weight: bold;
				border: 2px solid white;
				padding: 10px;
				margin-left: 20px;
			}
			.carousel-control-prev, .carousel-control-next{
				border: 2px solid black;
			}
		}
		.projects{

			.projectBox{
				padding-left: 15%;

				section{
					width: 35%;
					height: 200px;
					margin: 10px 2%;
					float: left;
					border: 2px solid white;
					p{
						display: none;
					}
				}
				section:hover{
					box-shadow: 2px 5px 2px 5px rgba(0,0,0,0.3);
					p{
						display: block;
					}
				}
				img{
					width: 90%;
					height: 150px;
					margin: 10px 15px;
				}
			}
		}
	}

	.gallery{

		h5{
			margin: 10px 20%;
			text-decoration: underline;
		}

		button.btn{
			background-color: black;
		}

		.modal-dialog{
			max-width: 750px;
			// height: 450px;

			.modal-body{
				height: 500px;
				background-color: black;

				.bd-example{
					width: 100%;
					height: 100%;

					.carousel{
						width: 100%;
						height: 100%;
						background-color: $blue;

						.carousel-inner{
							width: 100%;
							height: 100%;

							.carousel-item{
								width: 100%;
								height: 100%;

								.carousel-caption{
									background-color: rgba(0, 0, 0, 0.5);
								}
								img{
									width: auto;
									min-height: 500px;
									max-height: 600px;
								}
							}
						}
					}
				}
			}
		}
	}

	.interviews{
		h5{
			margin-left: 10%;
		}
		ul{
			width: 50%;
		}
		li{
			list-style: none;
			width: 100%;
			margin-top: 5px;

			a{
				color: white;
				text-decoration: none;
			}
		}
	}

	footer{
		width: 80%;

		.socials{
			padding-left: 30%;
			text-align: left;
		}
		img{
			width: 33%;
			height: auto;
			margin-left: 40%;
		}
	}
}
// Resume CSS
#resume {
	i{
		margin-right: 10px;
	}
	h2 , h3{
		width: 100%;
		text-align: center;
	}
	.row:first-of-type{
		color: white;
	}
	.row{
		color: black;

		h2{
			color: white;
		}
	}
	.col{
		p , h1{
			text-align: left;
			padding: 0px;
			margin-bottom: 5px;
		}
		button{
			border-color: white;
			a{
				color: white;
			}
			a:hover{
				color: $blue;
			}
		}
		button:hover{
			border-color: white;
			background-color: black;
			color: $blue;
		}
		img{
			width: 60%;
			height: 300px;
			border-radius: 50%;
			margin: 0px 20%;
		}
	}
	.details{
		display: none;

		.location{
			color: grey;
			font-style: italic;
			margin-right: 10px;
		}
		.location:hover{
			color: $blue;
		}
		.title{
			margin: 0px;
			padding: 0px;
		}
		.description{
			width: 50%;
			margin: 0px 25%;
		}
	}

}
// Contacts CSS
.deets .row section{
	width: 100%;
	text-align: center;
}
.contactForm{
	padding: 25px;

	button{
		margin-left: 45%;
		font-size: 18px;
		color: white;
		background-color: black;
	}
}
form textarea{
	height: 300px;
	margin: 0px 10px;
}
