/* h1, h2, h3, h4, img, p, a, ul, li{
display: block;
} */
html body {
  color: white;
  background-color: black;
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  height: 100%;
  float: left;
}
html header {
  margin-top: 50px;
}
html header nav.row {
  width: 100%;
}
html header nav ul {
  width: 100%;
}
html header nav li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  float: left;
  width: 33.33%;
}
html header img {
  width: 50%;
  height: 550px;
  border-radius: 50%;
  margin: 0px 25%;
}
html header .container {
  background-color: black;
}
html main {
  border-radius: 2%;
}
html main h4 {
  background-color: black;
  border: 2px solid white;
  padding: 10px;
}
html main section {
  border-radius: 2%;
}
html main .about {
  font-size: 30px;
  padding: 200px;
}
html main .carousel-indicators {
  margin: 0px;
}
html main .exp {
  width: 50%;
  margin: 20px 25%;
}
html main .exp .comp {
  font-size: 18px;
  font-weight: bold;
  border: 2px solid white;
  padding: 10px;
  margin-left: 20px;
}
html main .exp .carousel-control-prev, html main .exp .carousel-control-next {
  border: 2px solid black;
}
html main .projects .projectBox {
  padding-left: 15%;
}
html main .projects .projectBox section {
  width: 35%;
  height: 200px;
  margin: 10px 2%;
  float: left;
  border: 2px solid white;
}
html main .projects .projectBox section p {
  display: none;
}
html main .projects .projectBox section:hover {
  box-shadow: 2px 5px 2px 5px rgba(0, 0, 0, 0.3);
}
html main .projects .projectBox section:hover p {
  display: block;
}
html main .projects .projectBox img {
  width: 90%;
  height: 150px;
  margin: 10px 15px;
}
html .gallery h5 {
  margin: 10px 20%;
}
html .gallery button.btn {
  background-color: black;
}
html .gallery .modal-dialog {
  max-width: 750px;
}
html .gallery .modal-dialog .modal-body {
  height: 500px;
  background-color: black;
}
html .gallery .modal-dialog .modal-body .bd-example {
  width: 100%;
  height: 100%;
}
html .gallery .modal-dialog .modal-body .bd-example .carousel {
  width: 100%;
  height: 100%;
  background-color: #42C5E4;
}
html .gallery .modal-dialog .modal-body .bd-example .carousel .carousel-inner {
  width: 100%;
  height: 100%;
}
html .gallery .modal-dialog .modal-body .bd-example .carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}
html .gallery .modal-dialog .modal-body .bd-example .carousel .carousel-inner .carousel-item .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}
html .gallery .modal-dialog .modal-body .bd-example .carousel .carousel-inner .carousel-item img {
  width: auto;
  min-height: 500px;
  max-height: 600px;
}
html .interviews h5 {
  margin-left: 10%;
}
html .interviews ul {
  width: 50%;
}
html .interviews li {
  list-style: none;
  width: 100%;
  margin-top: 5px;
}
html .interviews li a {
  color: white;
  text-decoration: none;
}
html .interviews .btn-outline-dark:hover {
  background-color: black;
}
html footer {
  width: 80%;
}
html footer .socials {
  padding-left: 30%;
  text-align: left;
}
html footer img {
  width: 33%;
  height: auto;
  margin-left: 40%;
}

#resume section {
  border-radius: 2%;
}
#resume i {
  margin-right: 10px;
}
#resume h2, #resume h3 {
  width: 100%;
  text-align: center;
}
#resume .row:first-of-type {
  color: white;
}
#resume .row {
  color: black;
}
#resume .row h2 {
  color: white;
}
#resume .col p, #resume .col h1 {
  text-align: left;
  padding: 0px;
  margin-bottom: 5px;
}
#resume .col button {
  border-color: white;
}
#resume .col button a {
  color: white;
}
#resume .col button a:hover {
  color: #42C5E4;
}
#resume .col button:hover {
  border-color: white;
  background-color: black;
  color: #42C5E4;
}
#resume .col img {
  width: 60%;
  height: 300px;
  border-radius: 50%;
  margin: 0px 20%;
}
#resume .accordion {
  width: 100%;
}
#resume .accordion button:focus {
  box-shadow: none;
}
#resume .accordion .card-body {
  color: white;
  background-color: black;
}
#resume .accordion .card-body .list-group-item {
  color: black;
}
#resume .skills {
  background-color: white;
}
#resume .skills .row {
  margin-left: 100px;
}
#resume .skills .row button {
  width: 10%;
  margin: 10px 95px;
  color: #42C5E4;
  border-color: #42C5E4;
}
#resume .skills .row button:hover {
  color: white;
  background-color: #42C5E4;
}
#resume .skills .row button:focus {
  box-shadow: none;
}

#contact section {
  border-radius: 2%;
}
#contact input, #contact textarea {
  color: white;
  background-color: black;
}

.deets .row section {
  width: 100%;
  text-align: center;
}

.contactForm {
  padding: 25px;
}
.contactForm button {
  margin-left: 50%;
  font-size: 18px;
  color: white;
  background-color: black;
}

form textarea {
  color: #42C5E4;
  margin: 0px 10px;
  background-image: url("../images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*# sourceMappingURL=style.css.map */
